{% extends 'base.html' %}

{% block content %}

<!-- Main Section Start -->
{% comment %} <div class="main-section">
    <div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 60px;margin-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="user-dashboard loader-holder">
                        <div class="user-holder">
                    <h4 class="text-center" style="margin-bottom: 0;">WELCOME TO FOODONLINE</h4>
                    <p class="text-center">Register yourself and explore BiteBuddy-your food buddy.</p>
                    <hr>
                    <div id="restaurant-sets-holder">
                        <form action="{% url 'register_user' %}" class="form-fields-set foodbakery-dev-restaurant-form" method="post">
                            {% csrf_token %}
                            <ul class="register-add-restaurant-tab-container restaurant-information-tab-container">
                                <li>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="row">
                                                <ul >
                                                    <li>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                            <div class="field-holder">
                                                                <label>First name</label>{{form.first_name}}
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                            <div class="field-holder">
                                                                <label>Last name</label>{{form.last_name}}
                                                            </div>
                                                        </div>
                                                        
                                                        
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                            <div class="field-holder">
                                                                <label>Email Address</label>{{form.email}}
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                            <div class="field-holder">
                                                                <label>Username</label>{{form.username}}
                                                            </div>
                                                        </div>
                                                    </li>
                                                    
                                                    <li>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="field-holder">
                                                                <label>Password</label>
                                                                {{form.password}}
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="field-holder">
                                                                <label>Confirm Password</label>
                                                                {{form.confirm_password}}
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>

                                                
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <ul class="errorlist">
                                        {% for field in form %}
                                            {% if field.errors %}
                                                {% for error in field.errors %}
                                                    <li style="color: red;">{{error}}</li>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}

                                        <li style="color: red;">{{form.non_field_errors}}</li>
                                    </ul>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="field-holder">
                                                <div class="payment-holder">
                                                    <input type="submit" value="Register" id="btn-next-restaurant-information" class="bgcolor">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <!-- Load message -->
                                            {% include 'includes/alerts.html' %}
                                        </div>
                                    </div>

                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Section End --> {% endcomment %}
<div class="custom-main-section">
    <div class="custom-page-section">
        <div class="custom-container">
            <div class="custom-row">
                <div class="custom-col-12">
                    <div class="custom-user-dashboard">
                        <div class="custom-user-holder">
                            <h4 class="text-center custom-welcome-text">WELCOME TO FOODONLINE</h4>
                            <p class="text-center custom-subtext">Register yourself and explore BiteBuddy—your food buddy.</p>
                            <hr>
                            <div class="custom-form-holder">
                                <form action="{% url 'register_user' %}" method="post">
                                    {% csrf_token %}
                                    <div class="custom-form-row">
                                        <div class="custom-col-6">
                                            <div class="custom-field-holder">
                                                <label>First name</label>{{ form.first_name }}
                                            </div>
                                        </div>
                                        <div class="custom-col-6">
                                            <div class="custom-field-holder">
                                                <label>Last name</label>{{ form.last_name }}
                                            </div>
                                        </div>
                                        <div class="custom-col-6">
                                            <div class="custom-field-holder">
                                                <label>Email Address</label>{{ form.email }}
                                            </div>
                                        </div>
                                        <div class="custom-col-6">
                                            <div class="custom-field-holder">
                                                <label>Username</label>{{ form.username }}
                                            </div>
                                        </div>
                                        <div class="custom-col-6">
                                            <div class="custom-field-holder">
                                                <label>Password</label>{{ form.password }}
                                            </div>
                                        </div>
                                        <div class="custom-col-6">
                                            <div class="custom-field-holder">
                                                <label>Confirm Password</label>{{ form.confirm_password }}
                                            </div>
                                        </div>
                                    </div>

                                    <ul class="custom-errorlist">
                                        {% for field in form %}
                                            {% if field.errors %}
                                                {% for error in field.errors %}
                                                    <li>{{ error }}</li>  <!-- No more bullet points! -->
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if form.non_field_errors %}<li>{{ form.non_field_errors }}</li>{% endif %}
                                    </ul>

                                    <div class="custom-submit-holder">
                                        <input type="submit" value="Register" class="custom-submit-btn">
                                    </div>

                                    <div class="custom-alert-holder">
                                        {% include 'includes/alerts.html' %}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}