{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="main-section">
    <div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 10px;margin-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <aside class="col-lg-2 col-md-2 col-sm-12 col-xs-12 pe-lg-4 mb-4">
                            <div class="filter-wrapper">
                                <div class="foodbakery-filters listing-filter">
                                    <div class="filter-holder panel-default">
                                        <div class="filter-heading">
                                            <h6><i class="icon-food"></i>Cuisines</h6>
                                        </div>
                                        <div class="select-categories">
                                            <ul class="filter-list cs-checkbox-list">
                                                <li>
                                                    <div class="checkbox">
                                                        <input type="checkbox" id="foodbakery_restaurant_category_1" class="foodbakery_restaurant_category" value="apple-juice">
                                                        <label for="foodbakery_restaurant_category_1">Apple
                                                            Juice</label>
                                                        <span>(5)</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input type="checkbox" id="foodbakery_restaurant_category_2" class="foodbakery_restaurant_category" value="apple-juice">
                                                        <label for="foodbakery_restaurant_category_2">BB.Q</label>
                                                        <span>(2)</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input type="checkbox" id="foodbakery_restaurant_category_3" class="foodbakery_restaurant_category" value="apple-juice">
                                                        <label for="foodbakery_restaurant_category_3">Beef
                                                            Roast</label>
                                                        <span>(3)</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input type="checkbox" id="foodbakery_restaurant_category_4" class="foodbakery_restaurant_category" value="apple-juice">
                                                        <label for="foodbakery_restaurant_category_4">Carrot
                                                            Juice</label>
                                                        <span>(1)</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input type="checkbox" id="foodbakery_restaurant_category_5" class="foodbakery_restaurant_category" value="apple-juice">
                                                        <label for="foodbakery_restaurant_category_5">Cheese
                                                            Burger</label>
                                                        <span>(6)</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input type="checkbox" id="foodbakery_restaurant_category_6" class="foodbakery_restaurant_category" value="apple-juice">
                                                        <label for="foodbakery_restaurant_category_6">Cheicken
                                                            Roast</label>
                                                        <span>(2)</span>
                                                    </div>
                                                </li>
                                                <li class="expand">See more cuisines</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="filter-holder panel-default">
                                        <div class="filter-heading">
                                            <h6><i class="icon-clock4"></i>Opening Status</h6>
                                        </div>
                                        <div class="select-categories restaurant_timings">
                                            <ul class="filter-list cs-parent-checkbox-list">
                                                <li>
                                                    <div class="checkbox">
                                                        <input type="checkbox" id="restaurant_timings_open" name="restaurant_timings_checkbox" class="" value="open">
                                                        <label for="restaurant_timings_open">Open Now
                                                            <span>(5)</span>
                                                        </label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input type="checkbox" id="restaurant_timings_close" name="restaurant_timings_checkbox" class="restaurant_timings_close" value="close">
                                                        <label for="restaurant_timings_close">Closed Now
                                                            <span>(10)</span>
                                                        </label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="filter-holder panel-default">
                                        <div class="filter-heading">
                                            <h6><i class="icon-external-link"></i>Pre Orders</h6>
                                        </div>

                                        <div class="select-categories restaurant_pre_order">
                                            <ul class="filter-list cs-parent-checkbox-list">
                                                <li>
                                                    <div class="checkbox">
                                                        <input type="checkbox" id="restaurant_pre_order_yes" name="restaurant_pre_order_checkbox" class="restaurant_pre_order_yes" value="yes">
                                                        <label for="restaurant_pre_order_yes">Yes
                                                            <span>(11)</span>
                                                        </label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input type="checkbox" id="restaurant_pre_order_no" name="restaurant_pre_order_checkbox" class="restaurant_pre_order_no" value="no">
                                                        <label for="restaurant_pre_order_no">No <span>(4)</span>
                                                        </label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="filter-holder panel-default">
                                        <div class="filter-heading">
                                            <h6><i class="icon-folder_special"></i>Specials</h6>
                                        </div>
                                        <div class="select-categories">
                                            <ul class="filter-list cs-checkbox-list">
                                                <li>
                                                    <div class="checkbox">
                                                        <input type="checkbox" id="specials_1" class="specials" value="deals">
                                                        <label for="specials_1">Deals</label>
                                                        <span>(5)</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input type="checkbox" id="specials_2" class="specials" value="free-delivery">
                                                        <label for="specials_2">Free Delivery</label>
                                                        <span>(12)</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 px-lg-4 mb-4">
                            <div class="listing-sorting-holder">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <h4>{{ vendors|length }} Restaurant's found</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="listing simple">
                                <ul>
                                    {% for vendor in vendors %}
                                    <li style="line-height:15px;">
                                        <div class="img-holder">
                                            <figure>
                                                <a href="#">
                                                    {% if vendor.user_profile.profile_photo %}
                                                        <img src={{vendor.user_profile.profile_photo.url}} class="img-list wp-post-image" alt="">
                                                    {%else%}
                                                        <img src={% static 'images/default-profile.jpg' %} class="img-list wp-post-image" alt="">
                                                    {% endif %}

                                                </a>
                                            </figure>
                                            {% if vendor.is_open %}
                                            <span class="restaurant-status open"><em class="bookmarkRibbon"></em>Open</span>
                                            {% else %}
                                            <span class="restaurant-status close"><em class="bookmarkRibbon"></em>Close</span>
                                            {% endif %}
                                        </div>
                                        <div class="text-holder">
                                            <div class="post-title">
                                                <h5>
                                                    <a href="{%url 'vendor_detail' vendor.vendor_slug %}">{{vendor.vendor_name}}</a>
                                                </h5>
                                            </div>
                                            {% if vendor.user_profile.address %}
                                             <span><small class="text-muted">{{vendor.user_profile.address}}</small></span>
                                            {% endif %}
                                        </div>
                                        <div class="list-option">
                                            <a href="{%url 'vendor_detail' vendor.vendor_slug %}" class="viewmenu-btn text-color">View Menu</a>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% comment %} <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="page-nation">
                                        <ul class="pagination pagination-large">
                                            <li class="disabled"><span>Prev</span></li>
                                            <li class="active"><span><a class="page-numbers active">1</a></span></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">Next</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> {% endcomment %}
                        </div>
                        <div class="section-sidebar col-lg-3 col-md-3 col-sm-12 col-xs-12 ps-lg-4">
                            <div class="message-box" style="background-color: #fa9918;">
                                <strong>I‘ m not Listed!</strong><span>is your restaurant or
                                    business not
                                    listed on over site</span>
                                <a href="{%url 'register_vendor'%}" class="request-btn">Add Your business!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}