{% autoescape off %}
<p>Dear {{ user.first_name }},</p>
<p>We are pleased to confirm your order <strong>#{{ order.id }}</strong>.</p>
<p>Order Details:</p>
<ul>
    <li><strong>Order Number:</strong>{{order.order_number}}</li>
    <li><strong>Order Date:</strong> {{ order.created_at }}</li>
    <li><strong>Total Amount:</strong> ${{ order.amount }}</li>
    <li><strong>Shipping Address:</strong> {{ order.address }}</li>
    <li><strong>Transaction ID:</strong>{{order.payment.transaction_id}}</li>
</ul>
<p>We will notify you once your order has been shipped.</p>
<p>Thank you for shopping with us!</p>
<p>Best Regards,<br> @BiteBuddy-Your only food Buddy</p>
{% endautoescape %}
